body {
    font-family: consolas;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 20pt;
    text-align: center;
}

h3, .map {
    color: #00FF00;
}

hr {
    border: none;
    height: 2px;
}

hr.tt {
    background-color: #FF0000;
    color: #FF0000;
}

hr.ct {
    background-color: #1E90FF;
    color: #1E90FF;
}

hr.spec {
    background-color: #FF7800;
    color: #FF7800;
}

.tt .name {
    color: #FF0000;
}

.ct .name {
    color: #1E90FF;
}

.spec .name {
    color: #FF7800;
}

img {
	border-radius: 5px;
}

font.tt{
	border: 3px solid #FF0000;
    background: #f5bdc7;
    color: #FF0000;
}

font.ct {
	border: 3px solid #1E90FF;
    background: #E8F3FF;
    color: #1E90FF;
}

font.spec {
	border: 3px solid #FF7800;
    background: #F5D7BD;
    color: #FF7800;
}

li {	
	list-style-type: none;
	text-align: left;
}